.chat-main
  .chat-main__group-info
    .chat-main__group-info__edit
      = link_to "#",class:"chat-main__group-info__edit__button" do
        Edit
    .chat-main__group-info__group-name
      test
    .chat-main__group-info__member-name
      Member : oki
  .chat-main__message-list
    .chat-main__message-list__index
      oki
      .chat-main__message-list__index__date
        2020/04/04/(Sat) 17:43:01
    .chat-main__message-list__text
      おはよう
    .chat-main__message-list__index-second
      oki
      .chat-main__message-list__index-second__date-second
        2020/04/04/(Sat) 17:45:01
    .chat-main__message-list__text
      今日は朝から雨
  .chat-main__message-form
    .chat-main__message-form__new-message
      .input__form
    .chat-main__message-form__send
      = link_to "#",class:"chat-main__message-form__send__button" do
        Send
    .chat-main__message-form__box
      %input.chat-main__message-form__box__text{:placeholder => "type a message"}
      .chat-main__message-form__box__image
        .chat-main__message-form__box__image__gazo
          %label{class: "input-box__image"}
            = icon('far','image')
            %input.none{type: "file"}




      -# .chat-main__message-form__box__image
      -#   = link_to "#",class:"chat-main__message-form__box__image__gazo" do
      -#     %label{class: "input-box__image"}
      -#       = icon('far','image')
      -#       %input{type: "file"}
        
