* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.chat-main {
  height: 100vh;
  width: 100vw;

  &__group-info {
    height: 100px;
    text-align: center;
    color: #000000;
    $base-background-color: #ffffff;
    font-size: 10px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eeeeee;

    &__edit{
      width: 72px;
      position: absolute;
      right: 40px;
      top: 28px;
      display: flex;
      border: solid 1px #38aef0;
      height: 40px;
      align-items: center;
      
      &__button{
        background-color: $base-background-color;
        color: #38aef0;
        font-size: 16px;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 19px;
      }
    }
    &__group-name{
      width: 300px;
      position: absolute;
      top: 35px;
      left: 4opx;
      font-size: 20px;
      color: #333333;
      text-align: left;
    }
    &__member-name{
      color: #999999;
      font-size: 12px;
      // width: 100px;
      margin-top: 70px;
      text-align: left;
    }
  }
  &__message-list{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 46px 40px;
    overflow: scroll;
    &__index{
      font-size: 16px;
      color: #333333;
      text-align: left;
      font-weight: bold;
      position: relative;
      padding-bottom: 46px;
      
      // display: flex;
      // text-align: center;
      &__date{
        margin-left: 5px;
        font-size: 12px;
        height: 15px;
        color: #999999;
        text-align: left;
        display: inline-block;
        position: absolute;
        top: 5px;
        white-space: nowrap;
      }
      &__text{
        font-size: 14px;
        padding-top: 12px;
        color: #434A54;
        text-align: left;
        font-weight: lighter;
        
      }
    }
    &__index-second{
      margin-top: 46px;
      font-size: 16px;
      color: #333333;
      text-align: left;
      font-weight: bold;
      &__date-second{
        font-size: 12px;
        color: #999999;
        text-align: left;
      }
    }
  }

  &__message-form{
    height: 90px;
    background-color: #d2d2d2; 
    color: #253141;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &__new-message{
    }
    &__send{
      display: flex;
      width: 200px;
      text-align: center;
      background-color: #38aef0;
      align-items: center;
      top: 20px;
      right: 40px;
      bottom: 20px;
      position: relative;
      &__button{
        color: #fafafa;
        text-decoration: none;
        background-color: #38aef0;
        position: absolute;
        right: 40px;
        top: 20px;
        width: 100px;
        line-height: 50px;
      }
    }
    &__box{
      background-color: #ffffff;
      text-align: center;
      align-items: center;
      width: 945px;
      margin-right: 15px;
      display: flex;
      justify-content: center;
      height: 50px;
      position: relative;
      &__text{
        color: #999999;
        text-align: left;
        padding-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        width: 100%;
        height: 100%;
        line-height: 100%;
        position: relative;
      }
      &__image{
        // width: 100px;
        height: 25px;
        // width: 50px;
        position: relative;
        right: 30px;
        top: 5px;
        justify-content: center;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        &__gazo{
          align-items: center;
          text-decoration: none;
          color: black;
          font-size: 1.3rem;
          position: absolute;
          right: 10px;
          top: 0px;
          left: 0px;
          width: 30px;
          height: 10px;
          font: 20px;
          cursor: pointer;
          padding-right: 45px;
        }
        &__file{
          color: white;
          width: 20px;
          padding-right: 10px;
          padding-bottom: 20px;
          line-height: 25px;
          display: none;

        }
      }
    }  
  }
}

.none{
  display: none;
}
.side-bar {
  width: 300px;
  float: left;
  height: 100vh;
  &__user-name{
    $base-background-color: #253141;
    height: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: $base-background-color;
    color: #eeeeee;
    &__top-box{
      height: 20px;
      width: 100px;
      display: flex;
      justify-content: space-between;
      width: 260px;
      $base-color: #ffffff;
      padding-left: 20px;
      padding-right: 20px;
      width: 300px;
      &__user{
        text-align: center;
        align-items: center;
        font-weight: bold;
      }
      &__icon{
        width: 60px;
        color: white;
        color: $base-color;
        &__pen{
          text-decoration: none;
          color: $base-color;
        }
        &__sharin{
          text-decoration: none;
          color: $base-color;
        }
      }
    }
  }
  &__group-list{
    background-color: #2f3e51;
    color: #eeeeee;
    height: calc(100% - 100px);
    padding: 20px;
    &__box{
      height: 91px;
      background-color: #2f3e51;

      &__name{
        font-size: 15px;
        color: #ffffff;
      }
      &__text{
        font-size: 11px;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}